@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');


/* Default Font */
.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}


/* Custom Font */
.yeseva-one-regular {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
}


/* Default Settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 120rem;
    margin: 0 auto;
}

section {
    padding: 8rem 0;
}


/* Shared Style  */

.display-flex {
    display: flex;
}



/* color font */
.yellow{
    color: rgb(255, 173, 90);
}



/* header  *//* header  *//* header  */

/* Banner section */

.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10rem;
}
.banner-text{
    max-width: 41.91rem;
}

#banner-tiles{
    border-left: 4px solid rgb(255, 89, 89);
    padding-left: 1rem;
}

.banner-text h1{
    font-family: Yeseva One;
    font-size: 5rem;
    font-weight: 400;
}
.banner-text p{
    font-size: 1.6rem;
    margin-top: 2rem;
    color: #7e7e7e;
}

.banner-btn{
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 1.34rem;
    font-weight: 500;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    background: rgb(255, 89, 89);
    margin-top: 2rem;
}

.banner-image{
    max-width: 35.5rem;
    max-height: 52.1rem;
}

.banner-image > img{
    width: 100%;
    height: 100%;
}



/* Body  *//* Body  *//* Body  *//* Body  */

/* <!-- My Mission in 2025 --> */
.mission h2{
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    color: rgb(19, 16, 58);
}
.misssion-cards{
    justify-content: space-evenly;
    margin-top: 3rem;
}

.misssion-card{
    max-width: 360px;
    padding: 2.5rem;
    border: none;
    border-radius: 2.17rem;
}
.one{
    background: rgba(79, 157, 166, 0.1);
}
.two{
    background: rgba(255, 89, 89, 0.1);
}
.three{
    background: rgb(255, 244, 214);
}

.misssion-card h4{
    font-size: 2rem;
    font-weight: 600;
}

.misssion-card p{
    color: rgb(66, 66, 66);
    font-size: 1.33rem;
    font-weight: 400;
}

.illustrator{
    max-width: 11.75rem;
    max-height: 11.75rem;
}

.illustrator img{
    width: 100%;
    height: 100%;
}



/* <!-- Develop Without Limits --> */

.develop-container{
    align-items: center;
    justify-content: space-between;
    text-align: left;
    border-radius: 2.17rem;
    max-width: 104.17rem;
    margin: 0 auto;
    background: rgba(255, 89, 89, 0.1);
}

.develop-image{
    max-width: 33.33rem;
    max-height: 33.33rem;
}

.develop-image img{
    max-width: 100%;
    max-height: 100%;
}

.develop-card{
    max-width: 66.66rem;
}

.develop-card h3{
    font-size: 3rem;
    font-weight: 700;
}

.develop-card p{
    color: rgb(62, 62, 62);
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1.5rem 0;
}

.develop-btn{
    color: rgb(255, 255, 255);
    font-size: 1.34rem;
    font-weight: 500;
    padding: 1.17rem 2.67rem;
    border: none;
    border-radius: 0.5;
    background: rgb(255, 89, 89);
    margin-bottom: 1rem;
}



/* <!-- Know our Global Community --> */

.global-container{
    align-items: center;
    justify-content: space-between;
    text-align: left;
    border-radius: 2.17rem;
    max-width: 104.17rem;
    margin: 0 auto;
    background: rgb(255, 244, 214);
}

.global-image{
    max-width: 33.33rem;
    max-height: 33.33rem;
}

.global-image img{
    max-width: 100%;
    max-height: 100%;
}

.global-card{
    max-width: 50rem;
    padding-left: 3rem;
}

.global-card h3{
    font-size: 3rem;
    font-weight: 700;
}

.global-card p{
    color: rgb(62, 62, 62);
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1.5rem 0;
}

.global-btn{
    color: rgb(255, 255, 255);
    font-size: 1.34rem;
    font-weight: 500;
    padding: 1.17rem 2.67rem;
    border: none;
    border-radius: 0.5rem;
    background: rgb(255, 89, 89);
    margin-bottom: 1rem;
}



/* <!-- Build Xone Application --> */
.xone h2{
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}
.xone-container{
    justify-content: space-between;
    align-items: center;
    background: #F0EFFB;
    border-radius: 2.17rem;
    max-width: 104.17rem;
    margin: 0 auto;
    margin-top: 3rem;
}
.xone-image{
    max-width: 25rem;
    max-height: auto;
}

.xone-image img{
    max-width: 100%;
    max-height: 100%;
}

.xone-card{
    max-width: 66.67rem;
    padding: 3rem;
}

.xone-card h3{
    font-size: 4rem;
font-weight: 700;
}

.xone-card p{
    color: rgb(62, 62, 62);
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1.5rem 0;
}

.xone-btn{
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 1.34rem;
    font-weight: 500;
    padding: 1.16rem 3rem;
    border: none;
    border-radius: 0.5rem;
    background: rgb(255, 89, 89);
}

/* <!-- Footer  Footer  Footer --> */

.footer-container{
    text-align: center;
    padding: 4rem 0rem;
    max-width: 104.17rem;
    margin: 0 auto;
    background: rgb(11, 13, 23);


}

.footer-container h3{
    color: rgb(217, 219, 225);
    font-size: 3rem;
    font-weight: 500;
    margin-top: 2rem;
    font-family: Yeseva One;
}


.footer-container p{
    color: rgb(217, 219, 225);
    font-family: Yeseva One;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1rem;
}



/* Media responsive */

/* Response for Mobile */

@media screen and (max-width: 480px){
    body{
        width: 90%;
    }
    section {
        padding: 4rem 0;
    }
    .banner-container{
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 1rem;
    }
    .banner-text{
        text-align: center;
        margin-top: 3rem;
    }
    .banner-text h1{
        font-size: 3.5rem;
    }
    .banner-text p{
        font-size: 1.2rem;
    }
    .banner-image{
        margin-top: 3rem;
    }

    .misssion-cards, 
    .develop-container, 
    .global-container, .xone-container 
    {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .misssion-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .develop-container, 
    .global-container, .xone-container
    {
        text-align: center;
    }

    .global-card, .develop-card{
        padding-left: 0;
        padding: 1rem;
    }
}

/* Response for Tablet */

@media (min-width:480px ) and (max-width: 1024px){
    body{
        max-width: 95%;
    }
    .banner-container{
        gap: 3rem;
        margin-top: 3rem;
    }
    .banner-text h1{
        font-size: 4rem;
    }
    .banner-text p{
        font-size: 1.4rem;
    }
    .misssion-cards{
        gap: 2rem;
    }

    .develop-container, 
    .global-container
    {
        gap: 2rem;
    }

    .develop-image, 
    .global-image
    {
        width: 90%;
    }
}